GROQ_API_KEY = "" #
LANGSMITH_API_KEY = ""
LANGCHAIN_TRACING_V2= true
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
LANGCHAIN_API_KEY=""
LANGCHAIN_PROJECT=""
API_KEY_SERPER = "" 
DB_URI = "postgresql://postgres:postgres@localhost:5433/postgres"
MODEL_ID_CHAT_IMPUT = "meta-llama/llama-4-scout-17b-16e-instruct"
MODEL_ID_SUPERVISOR = "qwen-qwq-32b"
MODEL_ID_CHAT_RESPONSE = "meta-llama/llama-4-scout-17b-16e-instruct"
MODEL_ID_FUNDAMENTAL = "meta-llama/llama-4-scout-17b-16e-instruct"
MODEL_ID_SENTIMENTO = "meta-llama/llama-4-scout-17b-16e-instruct"
MODEL_ID_VALUATION = "meta-llama/llama-4-scout-17b-16e-instruct"
MODEL_ID_TECNICAL = "meta-llama/llama-4-scout-17b-16e-instruct"